
<!DOCTYPE html>
<html class="no-js" lang="en"  >
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content="STRATO HEIGHT PROFITABLE INVESTMENT AT YOUR DOORSTEP">
<meta name="keywords" content="STRATO HEIGHT PROFITABLE INVESTMENT AT YOUR DOORSTEP">
<link rel="shortcut icon" href="images/favicon.ico.png" type="image/x-icon">

<link rel="apple-touch-icon" href="images/favicon.ico.png">
<title>STRATO HEIGHT | Support Ticket</title>
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="STRATO HEIGHT| Support Ticket">

<meta itemprop="name" content="STRATO HEIGHT| Payout Log">
<meta itemprop="description" content="STRATO HEIGHT PROFITABLE INVESTMENT AT YOUR DOORSTEP">
<meta itemprop="image" content="https://www.stratoheight.com/images/vestlogo">

<meta property="og:type" content="website">
<meta property="og:title" content="STRATO HEIGHT PROFITABLE INVESTMENT AT YOUR DOORSTEP">
<meta property="og:description" content="STRATO HEIGHT PROFITABLE INVESTMENT AT YOUR DOORSTEP">
<meta property="og:image" content="https://www.stratoheight.com/images/logo"/>
<meta property="og:image:type" content="image/png"/>
<meta property="og:url" content="https://www.stratoheight.com/PayoutH">

<meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" type="text/css" href="https://www.happyvestltd.live/assets/themes/deepblack/assets/bootstrap/bootstrap.min.css" />

    
    <link rel="stylesheet" type="text/css" href="https://www.happyvestltd.live/assets/themes/deepblack/assets/plugins/owlcarousel/animate.css">
    <link rel="stylesheet" type="text/css" href="https://www.happyvestltd.live/assets/themes/deepblack/assets/plugins/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="https://www.happyvestltd.live/assets/themes/deepblack/assets/plugins/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="https://www.happyvestltd.live/assets/themes/deepblack/assets/plugins/aos/aos.css">
    <link rel="stylesheet" type="text/css" href="https://www.happyvestltd.live/assets/themes/deepblack/assets/plugins/radial-progress/radialprogress.css">
    <link rel="stylesheet" type="text/css" href="https://www.happyvestltd.live/assets/themes/deepblack/assets/jquery/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://www.happyvestltd.live/assets/themes/deepblack/scss/flags.css" />
    <link rel="stylesheet" type="text/css" href="https://www.happyvestltd.live/assets/themes/deepblack/scss/style.css">
    <script src="https://www.happyvestltd.live/assets/themes/deepblack/js/modernizr.custom.js"></script>


</head>


<body  >
    <div class="wrapper">
        <!------ sidebar ------->
        <div id="sidebar">
    <a class="navbar-brand golden-text" href="https://www.stratoheight.com">STRATO HEIGHT</a>
    <ul class="pb-4">
       <!-- list item -->
       <li class="">
          <a href="dashboard.html" class="sidebar-link">
             <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/layout.png"
              alt="Dashboard"/>Dashboard          </a>
       </li>
	   <li class="">
          <a href="plan.html" class="sidebar-link">
             <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/growth-graph.png" 
             alt="invest history"/>Plan          </a>
        </li>
		
		
        <li class="">
          <a href="investH.html" class="sidebar-link">
             <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/growth-graph.png" 
             alt="invest history"/>invest history          </a>
        </li>
		
       <li class="">
          <a href="AddF.html" class="sidebar-link">
             <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/money-bag.png"
              alt="Add Fund"/>Add Fund          </a>
       </li>
       <li class="">
          <a href="FundH.html" class="sidebar-link">
             <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/fund.png" 
             alt="Fund History"/>Fund History          </a>
       </li>
      
       <li class="">
          <a href="Transaction.html" class="sidebar-link">
             <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/transaction.png" 
             alt="transaction"/>transaction          </a>
       </li>
       <li class="">
          <a href="Payout.html" class="sidebar-link">
             <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/payout.png" 
             alt="payout"/>payout          </a>
       </li>
       <li class="">
          <a href="PayoutH.html" class="sidebar-link">
             <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/pay-history.png" 
             alt="payout history"/>payout history          </a>
       </li>
       <li class="">
          <a href="Myreferral.html" class="sidebar-link">
             <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/refferal.png" 
             alt="my referral"/>my referral          </a>
       </li>
       <li class="">
          <a href="ReferralB.html" class="sidebar-link">
             <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/bonus.png"
              alt="referral bonus"/>referral bonus          </a>
       </li>
       <li class="active">
          <a href="ProfileS.html" class="sidebar-link">
             <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/setting.png" 
             alt="profile settings"/>profile settings          </a>
       </li>
       <li class="">
          <a href="SupportT.html" class="sidebar-link">
             <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/support.png"
              alt="support ticket"/>support ticket          </a>
       </li>
    </ul>
 </div>

        <!------- Nav + Content ---------->
        <div id="content">
           <div class="overlay">
              <!----- navbar ------>
              <nav class="navbar navbar-expand-lg fixed-top">
                 <div class="container-fluid">
                    <a class="navbar-brand golden-text" href="https://www.stratoheight.com">
                        <img src="images/strato logo.png" 
                        width="200px" height="40px"
                             alt="LOGO IMAGE">
                    </a>
                    <button
                       type="button"
                       id="sidebarCollapse"
                       class="sidebar-toggler p-0"
                    >
                       <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/hamburger.png" alt="hamburger image"/>
                    </button>

                    <span class="navbar-text" id="pushNotificationArea">
                       <!---- notification panel ---->
                       <div class="notification-panel push-notification">
    <button class="dropdown-toggle">
        <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/notification.png" alt="notification" />
        <span class="badge" v-cloak>{{items.length}}</span>
    </button>
    <ul class="notification-dropdown">
        <div class="dropdown-box">
            <li v-for="(item, index) in items" @click.prevent="readAt(item.id, item.description.link)">
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="fas fa-bell"></i>
                    <div>
                        <h4 class="golden-text" v-cloak v-html="item.description.text"></h4>
                        <p v-cloak>{{ item.formatted_date }}</p>
                    </div>
                </a>
            </li>
        </div>
        <div class="clear-all fixed-bottom">
            <a href="javascript:void(0)" v-if="items.length == 0" class="golden-text">You have no notifications</a>
            <a href="javascript:void(0)" role="button" type="button" v-if="items.length > 0" @click.prevent="readAll" class="btn-clear golden-text">Clear All</a>
        </div>
    </ul>
</div>



                       <!---- user panel ---->
                       <div class="notification-panel user-panel">
                            <button class="dropdown-toggle">
                                <img src="images/firstc.png" width="50px" height="50px"
                                class="user-image" alt="user img" />
                            </button>
                            <ul class="notification-dropdown user-dropdown">
                                <li>
                                    <a class="dropdown-item" href="dashboard.html">
                                        <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/layout.png" alt="Dashboard"/>
                                        <span class="text-success">Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="Myprofile.html">
                                        <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/profile.png" alt="My Profile"/>
                                        <span class="text-success">My Profile</span>
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="index.html">
                                    <img src="images/firstc.png" width="30px" height="30px"
                                     alt="My Profile"/>
                                        <span class="text-success">Back To Home</span>
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="2FASecurity.html">
                                        <img src="https://www.happyvestltd.live/assets/themes/deepblack//img/icon/padlock.png" alt="2FA Security"/>
                                        <span class="text-success">2FA Security</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="login.html" onclick="event.preventDefault();
                                    document.getElementById('logout-form').submit();">
                                        <img src="https://www.happyvestltd.live/assets/themes/deepblack//img/icon/log-out.png" alt="Logout"/>
                                        <span class="text-success">Logout</span>
                                    </a>
                                    <form id="logout-form" action="login.html" method="POST"
                                     class="d-none">
                                        <input type="hidden" name="_token" 
                                        value="iELwqMyX4VmwdhOLvkCnO1DBxOh5IpFYgwkCLsQO">                                    </form>
                                </li>
                            </ul>
                       </div>
                    </span>
                 </div>
              </nav>

              <!------------- others main dashboard body content ------------>
              
<section class="transaction-history profile-setting mt-5 pt-5">
    <div class="container-fluid">
       <div class="row">
          <div class="col">
             <div class="header-text-full">
                <h2>New Ticket</h2>
             </div>
          </div>
       </div>

        <div class="edit-area">
            <form action="#" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_token" value="iELwqMyX4VmwdhOLvkCnO1DBxOh5IpFYgwkCLsQO">    
                            <div class="row">
                    <div class="col-md-12 mb-4">
                        <label for="subject" class="text-success">Subject</label>
                        <input
                            type="text"
                            class="form-control"
                            id="subject"
                            name="subject" value="" placeholder="Enter Subject"
                        />
                                            </div>

                    <div class="col-12 mb-4">
                        <label for="message" class="text-success">Message</label>
                        <textarea
                            class="form-control ticket-box"
                            id="message"
                            name="message"
                            rows="5"
                            placeholder="Enter Message"
                        ></textarea>
                                            </div>

                    <div class="col-12 mb-4">
                        <label for="" class="text-success">Upload File</label
                        >
                        <div class="attach-file">
                           <span class="prev">
                              Upload File                           </span>
                           <input
                                type="file"
                                name="attachments[]"
                                multiple
                                class="form-control"
                           />
                        </div>
                                             </div>


                </div>
                <button type="submit" class="gold-btn">Submit</button>
            </form>
        </div>

    </div>
 </section>


           </div>
        </div>
    </div>


     <!-- scroll top icon -->
    <a href="#" class="scroll-top">
        <img src="https://www.happyvestltd.live/assets/themes/deepblack/img/icon/up-arrow2.png" alt="scroll to top" />
    </a>

    <!-- start preloader -->
    <div id="preloader">
        <img src="images/preloader.gif" alt="preloader" class="loader" />
    </div>
    <!-- end preloader -->



<script src="https://www.happyvestltd.live/assets/themes/deepblack/assets/bootstrap/bootstrap.bundle.min.js"></script>
<script src="https://www.happyvestltd.live/assets/themes/deepblack/assets/jquery/jquery-3.6.0.min.js"></script>
<script src="https://www.happyvestltd.live/assets/themes/deepblack/assets/jquery/jquery-ui.js"></script>
<script src="https://www.happyvestltd.live/assets/themes/deepblack/assets/plugins/owlcarousel/owl.carousel.min.js"></script>
<script src="https://www.happyvestltd.live/assets/themes/deepblack/assets/plugins/counterup/jquery.waypoints.min.js"></script>
<script src="https://www.happyvestltd.live/assets/themes/deepblack/assets/plugins/counterup/jquery.counterup.min.js"></script>
<script src="https://www.happyvestltd.live/assets/themes/deepblack/assets/plugins/aos/aos.js"></script>
<script src="https://www.happyvestltd.live/assets/themes/deepblack/assets/plugins/radial-progress/radialprogress.js"></script>
<script src="https://www.happyvestltd.live/assets/themes/deepblack/js/jquery.flagstrap.min.js"></script>
<script src="https://www.happyvestltd.live/assets/themes/deepblack/assets/fontawesome/fontawesome.min.js"></script>


<script src="https://www.happyvestltd.live/assets/global/js/notiflix-aio-2.7.0.min.js"></script>
<script src="https://www.happyvestltd.live/assets/global/js/pusher.min.js"></script>
<script src="https://www.happyvestltd.live/assets/global/js/vue.min.js"></script>
<script src="https://www.happyvestltd.live/assets/global/js/axios.min.js"></script>
<!-- custom script -->
<script src="https://www.happyvestltd.live/assets/themes/deepblack/js/script.js"></script>
<script src="https://www.happyvestltd.live/assets/global/js/plugins.js"></script>


<script>
    'use strict';
    let pushNotificationArea = new Vue({
        el: "#pushNotificationArea",
        data: {
            items: [],
        },
        beforeMount() {
            this.getNotifications();
            this.pushNewItem();
        },
        methods: {
            getNotifications() {
                let app = this;
                axios.get("https://www.happyvestltd.live/user/push-notification-show")
                    .then(function (res) {
                        app.items = res.data;
                    })
            },
            readAt(id, link) {
                let app = this;
                let url = "https://www.happyvestltd.live/user/push-notification-readAt/0";
                url = url.replace(/.$/, id);
                axios.get(url)
                    .then(function (res) {
                        if (res.status) {
                            app.getNotifications();
                            if (link != '#') {
                                window.location.href = link
                            }
                        }
                    })
            },
            readAll() {
                let app = this;
                let url = "https://www.happyvestltd.live/user/push.notification.readAll";
                axios.get(url)
                    .then(function (res) {
                        if (res.status) {
                            app.items = [];
                        }
                    })
            },
            pushNewItem() {
                let app = this;
                // Pusher.logToConsole = true;
                let pusher = new Pusher("4e562a249c39a1057d2e", {
                    encrypted: true,
                    cluster: "ap2"
                });
                let channel = pusher.subscribe('user-notification.' + "44");
                channel.bind('App\\Events\\UserNotification', function (data) {
                    app.items.unshift(data.message);
                });
                channel.bind('App\\Events\\UpdateUserNotification', function (data) {
                    app.getNotifications();
                });
            }
        }
    });
</script>







<!--Start of Tawk.to Script-->
    <script type="text/javascript">
        $(document).ready(function () {
            
             var Tawk_SRC = 'https://embed.tawk.to/' + "6374c4abb0d6371309cf5296";
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = Tawk_SRC;
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        });
    </script>
    <!--End of Tawk.to Script-->




</body>
</html>
